.app-page, .page-footer {
  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

.page-action-link {
  display: block;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid $molgenis-blue-800;
  color: $molgenis-blue-800;
  text-decoration: none;
  text-align: center;
  
  &.page-action-secondary {
    border-color: $gray-400;
  }
  
  &.page-action-primary {
    border-color: $molgenis-blue-800;
    background-color: $molgenis-blue-800;
    color: $molgenis-blue-050;
  }
  
  &:hover {
    text-decoration: underline;
  }
}

.info-cards {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  margin-top: 1.2em;
  gap: 1.7em;
  
  .info-card {
    box-sizing: content-box;
    padding: 1em;
    background-color: $gray-000;
    border-radius: 6px;
    box-shadow: 0 0 6px 4px $gray-transparent-100;
    flex-grow: 1;
    
    p {
      margin: 0;
    }
    
    .card-title {
      color: $gray-800;
    }
    
    .card-description {
      font-size: 12pt;
      margin-top: 6px;
      margin-bottom: 10px;
    }
    
    a {
      font-size: 12pt; 
      
      svg {
        position: relative;
        $size: 13pt;
        width: $size;
        height: $size;
        margin-left: 3px;
        margin-bottom: -2px;
      }
      
      &:hover, &:focus {
        background-color: $molgenis-blue-800;
        color: $molgenis-blue-050;
      }
    }
  }
}

.link-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
  .link-card {
    flex-grow: 1;
  }
}

.page-section {
  .page-section-content {
    h3.accordion-heading {
      margin-bottom: 0;
    }
  }
}