$font-family: Helvetica,Arial,sans-serif;

.app-page, .page-footer {
  font-family: $font-family;
  font-size: 13pt;
}

.umcg-genetics-logo {
  width: 150px;
}

.app-page {
  // .quicklinks {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: row;
  //   flex-wrap: wrap;
    
  //   .link-card {
  //     height: 9em;
  //     flex-grow: 1;
  //   }
  // }
}