$font-family: Helvetica,Arial,sans-serif;

.app-page, .page-footer {
  font-family: $font-family;
  font-size: 13pt;
}

.umcg-genetics-logo {
  width: 150px;
}

.app-page {
  .page-section {
    .page-section-content {
      h2, h3 {
        text-align: left;
      }
    }
  }
  
  &.data-page {
    .d3-table { 
      caption {
        font-size: 15pt;
        font-weight: bold;
        color: $gray-900;
        margin-bottom: 0.8em;
      }
    }
  }
  
  .search-forms-container {
    background-color: $blue-050;

    .page-section-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 2em;

      .page-form {
        background-color: $gray-000;
        flex-grow: 1;
        max-width: 450px;
        
        .button-search {
          margin-top: 1em;
        }
        
        p.form-section-title {
          margin: 0;
          display: block;
          color: $gray-900;
          font-size: 13pt;
          
          span {
            display: block;
            font-size: 11pt;
            color: $gray-400;
          }
        }
      }
    }
  }
}