.genturis-logo {
  width: 175px;
}

.genturis-logo-crab {
  display: block;
  margin: 0 auto;
  width: 85px;
}

.app-page {
  font-size: 14pt;
  font-family: $font-family;
  .page-section {
    background: $gray-050;
    
    h1, h2 {
      color: $blue-900;
    }
    ul {
      line-height: 1.5;
    }
  }  
  min-height: 46vh;
  
  @media screen and (min-height: 812px) {
    min-height: 64vh;
  }
}

.page-footer {
  font-size: 14pt;
  font-family: $font-family;
}
