
.app-page, .page-footer {
  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

.genturis-logo {
  width: 325px;
}

.genturis-logo-crab {
  display: block;
  margin: 0 auto;
  width: 100px;
}

#page-disclaimer,
#page-governance,
#page-documents,
#page-members-area,
#page-contact-us {
  .page-section {
    background: $gray-050;
    
    h1, h2 {
      color: $blue-900;
    }
    ul {
      line-height: 1.5;
    }
  }  
  min-height: 46vh;
  
  @media screen and (min-height: 812px) {
    min-height: 64vh;
  }
}

#page-home {
  .page-section {
    ul {
      line-height: 1.5;
    }
  }
}