.genturis-logo {
  width: 175px;
}

.genturis-logo-large {
  display: block;
  margin: 1em auto;
  width: 350px;
}

.genturis-logo-crab {
  display: block;
  margin: 0 auto;
  width: 85px;
}

.genturis-header {
  filter: saturate(90%);
  height: 28em;
}

.app-page {
  font-size: 13pt;
  font-family: $font-family;
  
  .page-header {
    .background-image-filter {
      opacity: 0.5;
    }
  }
  
  .page-section {
    background: $gray-050;
    
    h1, h2 {
      color: $blue-900;
    }
    
    h2 {
      margin-top: 24px;
      margin-bottom: 16px;
    }
    
    ul {
      line-height: 1.5;
    }
  }  
  min-height: 46vh;
  
  @media screen and (min-height: 812px) {
    min-height: 64vh;
  }
}

.page-footer {
  font-size: 14pt;
  font-family: $font-family;
}
