$font-family: Helvetica, sans-serif;

.gonl-logo {
  width: 175px;
}

.quicklink-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  .link-card {
    flex-grow: 1;
    max-height: 6em;
    
    &:nth-child(1) {
      background-color: $gray-800;
    }
    &:nth-child(2) {
      background-color: $blue-800;
    }
    &:nth-child(3) {
      background-color: $blue-600;
    }
    &:nth-child(4) {
      background-color: $blue-200;
      a {
        color: $gray-900;
      }
    }
  }
}

.app-page {
  font-size: 13pt;
  font-family: $font-family;
  
  .page-header.gonl-page-header {
    &.header-image-background {
      background-position: 50% 50%;
      .background-image-filter {
        opacity: 0.3;
      }
    }
  }
  
  .page-section {
    
    h2 {
      margin-top: 24px;
      margin-bottom: 16px;
    }
    
    ul, ol {
      line-height: 1.5;
    }
    
    p {
      color: $gray-700;
    }
  }  
  min-height: 46vh;
  
  @media screen and (min-height: 812px) {
    min-height: 64vh;
  }
}

.page-footer {
  font-size: 14pt;
  font-family: $font-family;
}
