.app-page, .page-footer {
  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

.page-action-link {
  display: block;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid $molgenis-blue-800;
  color: $molgenis-blue-800;
  text-decoration: none;
  text-align: center;
  
  &.page-action-secondary {
    border-color: $gray-400;
    background-color: $gray-050;
  }
  
  &.page-action-primary {
    border-color: $molgenis-blue-800;
    background-color: $molgenis-blue-800;
    color: $molgenis-blue-050;
  }
  
  &:hover {
    text-decoration: underline;
  }
}

.info-cards {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  gap: 1em;
  
  .info-card {
    box-sizing: content-box;
    padding: 0.8em;
    background-color: $gray-000;
    border-radius: 6px;
    box-shadow: 0 0 6px 4px $gray-transparent-100;
    flex-grow: 1;
    
    p {
      margin: 0;
    }
    
    .card-title {
      @include textTransform;
      color: $gray-700;
    }
    
    .card-description {
      font-size: 12pt;
      margin-top: 6px;
      margin-bottom: 10px;
    }
    
    a {
      font-size: 12pt; 
    }
  }
}