@mixin textTransform {
  font-size: 11pt;
  font-weight: bold;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

@mixin linkTextTransform {
  font-size: 11pt;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}